/*
	@name projesayfas_
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1280px; width: 1280px; height: 720px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__projesayfas_ {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 720px;
}

#projelercontainer {
	top: 118px;
	left: 45px;
	width: 1190px;
	height: 550px;
}

#_bg__projelercontainer_ek1 {
	top: 0px;
	left: 0px;
	width: 1190px;
	height: 550px;
	background:rgba(255,255,255,1);
}

#projeresim {
	top: 25px;
	left: 11px;
	width: 500px;
	height: 500px;
	background: url('screenshot4.jpg') center/cover;
}

#_bg__projeresim_ek1 {
	top: 0px;
	left: 0px;
	width: 500px;
	height: 500px;
}


#project_description {
	top: 216px;
	left: 547px;
	height: 319.5px;
	overflow: hidden;
	font-family: Inknut Antiqua;
	font-size: 35px;
	text-align: left;
	color:#000000;
}


#project_type {
	top: 69px;
	left: 544px;
	height: 43.5px;
	overflow: hidden;
	font-family: Inknut Antiqua;
	font-size: 15px;
	text-align: center;
	color:#000000;
}


#last_update {
	top: 155px;
	left: 547px;
	height: 58px;
	overflow: hidden;
	font-family: Inknut Antiqua;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#estimated_publish {
	top: 121px;
	left: 547px;
	height: 58px;
	overflow: hidden;
	font-family: Inknut Antiqua;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#project_name {
	top: 1px;
	left: 547px;
	height: 115px;
	overflow: hidden;
	font-family: Inknut Antiqua;
	font-size: 40px;
	text-align: left;
	color:#000000;
}

#menu {
	top: 25px;
	left: 0px;
	width: 1280px;
	height: 60px;
}

#_bg__menu_ek1 {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 77px;
}

#farm_mods_tv {
	top: -18px;
	left: 0px;
	width: 301px;
	height: 61px;
	overflow: hidden;
	font-family: Inknut Antiqua;
	font-size: 30px;
	text-align: left;
	color:#2f2e2e;
	float: left;
}

#mod_states_list {
	top: 1px;
	left: 744px;
	width: 176.5px;
	height: 43.5px;
	overflow: hidden;
	font-family: Inknut Antiqua;
	font-size: 15px;
	text-align: left;
	color:#2f2e2e;
}
#mod_states_list:hover {
	color:#ffffff;
}


#bug_repair_list {
	top: 1px;
	left: 913px;
	width: 169.5px;
	height: 43.5px;
	overflow: hidden;
	font-family: Inknut Antiqua;
	font-size: 15px;
	text-align: left;
	color:#2f2e2e;
}
#bug_repair_list:hover {
	color:#ffffff;
}

#contact {
	top: 1px;
	left: 1179px;
	width: 102.5px;
	overflow: hidden;
	font-family: Inknut Antiqua;
	font-size: 15px;
	text-align: left;
	color:#2f2e2e;
}
#contact:hover {
	color:#ffffff;
}


#projects {
	opacity:0.8;
	top: 1px;
	left: 1079px;
	width: 106.5px;
	height: 43.5px;
	overflow: hidden;
	font-family: Inknut Antiqua;
	font-size: 15px;
	text-align: left;
	color:#2f2e2e;
}
#projects:hover{
	color:#ffffff;
}


/* Add your custom CSS here */
