body {
	padding: 50px;
	overflow-x: hidden;
	background-color: rgba(24,188,150,1);
	justify-content: center;
	width: 100%;
	height: 100%;
	@media only screen and (max-width: 720px) {
		width: max-content;
	}
}

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0; border: none; padding: 0; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#menu {
	width: 200px;
	background: rgba(44,62,80,1);
	color: white;
	position: fixed;
	top: 50%;
	border-radius: 25px;
	transform: translate(0%, -50%);
	@media only screen and (max-width: 850px) {
		position: absolute;
		height: 62vh;
		max-height: 500pt;
		left: 50%;
		top: 45%;
		transform: translate(-50%, -50%);
		background: rgba(44,62,80,0);
	}
}
#menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	@media only screen and (max-width: 850px) {
		padding-top: 10px;
		background: rgba(44,62,80,1);
		border-radius: 25px;
		width: 200px;
	}
}
#menu li {
	padding: 13px;
	transition: padding-left 0.3s ease; /* Animasyon geçiş efekti ekle */
}
#menu a {
	border-radius: 25px;
	border-bottom: 1px solid #2f2e2e; /* İhtiyaca göre kenar çizgileri eklenebilir */
	color: white;
	font-size: 20px;
	display: block;
	left: 22px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 5px;
}
#menu a:hover {
	/* background-color: #555;  Fare üzerine gelindiğinde arka plan rengini değiştir */
	color: white;
	border-bottom: 1px solid white;
	cursor: pointer;
	left: 15px;
	.arrow {
		rotate: -45deg;
		opacity: 1;
	}
}
#marka {
	color: white;
	font-size: 35px;
	text-align: center;
	cursor: pointer;
}
#marka2 {
	color: white;
	font-size: 20px;
	text-align: center;
}
#selamlama {
	font-family: dm s, sans-serif;
	position: fixed;
	height: 200px;
	width: clamp(300px, 60%, 880px);
	top: 45%;
	left: 58%;
	transform: translate(-50%, -50%);
	@media only screen and (max-width: 850px) {
		display: none;
	}
	
}
#ilkSatir {
	color: white;
	text-align: center;
	width: 100%;
	font-size: clamp(1.5rem, 7vw, 8rem);
	top: 10px;
	left: 50%;
	transform: translate(-50%, 0);
}
#ikinciSatir {
	color: white;
	text-align: center;
	width: 100%;
	font-size: clamp(1.5rem, 3vw, 8rem);
	top: clamp(1px, 130px, 150px);
	left: 50%;
	transform: translate(-50%, 0);
}
